* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 20px;
    font-family: Verdana,sans-serif;
    color: white;
}

#container {
    height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

#footer {
    position: relative;
	overflow: hidden;
}

.wrap {
	background: #3E3E3E;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

 #footer a,
 #footer h3 {
    font: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 26px;
 }

.clear {
    clear: both;
}

.left {
    text-align: left;
    float: left;
    width: 33%;
    padding: 20px;
}

.right {
    float: right;
    text-align: left;
    font: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 26px;
    width: 33%;
    padding: 20px;
}
    
.centered {
    text-align: left;
    width: 33%;
    float: left;
    padding: 20px;
}

.subscribe_button {
    min-width: 200px;
    margin: 0;
    padding: 14px 0;
    background-color: #2f2e2a;
    font: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}   
.fa-facebook {
    background: #3B5998;
    color: white;
}

