  #newrequest {
    background-image: linear-gradient(black, #5F9EA0, black);
    opacity: 0.99;
    border-radius: 4%;
    padding: 50px;
    width: 350px;
    height: 500px;
    text-align: center;
    transform: translate(85%,8%);
    margin-top:0%;
  }

  #result p {
    color: white;
    font-weight: bold;
    font-size: 20px;
  }

  #details label {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  button {
    color: #00223e;
  }

  #new-destination label {
    margin-bottom: 10%;
    margin-top: 2%;
  }

  #new-current-location label {
    margin-bottom: 10%;
  }

  #new-transportmode label {
    margin-bottom: 20%;
  }

  body {
    background-image: url(../images/animated.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
